body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; /* Adjust as needed */
    cursor: url("./crosshair.svg"),auto;
    background-color: #9fd3c7;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
  
  
  
  .column1,
  .column2,
  .column3 {
    display: flex;
    justify-content: space-around;
    width: 60%;
  }
    
    .sphere {
      width: 95px;
      height: 95px;
      background: radial-gradient(circle at 25% 50%, #fff, #142d4c);
      
      border-radius: 50%;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
      margin-bottom: 150px;
      margin-right: 100px;
      margin-left: 100px;
    }
    
    .hide{
      background: white;
      box-shadow: none;
      background-color: #9fd3c7;
      background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    }

    #root{
      color:rgb(0, 34, 77);
      font-family: Tahoma, sans-serif;
    }