body{
    background-color: #393E46;
}
h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    color: #4ECCA3;
    font-size: 8rem;
    margin-top: 0px;
}
p{
    font-family: 'Indie Flower', cursive;
    color: #4ECCA3;
    font-size: 2rem;
    text-align: center;
}
.player1{
    display: inline-block;
    margin-left: 450px;
}
.player2{
    display: inline-block;
    margin-left: 100px;
}